/* Webfont: Maleah-Light */@font-face {
    font-family: 'MaleahLight';
    src: url('Maleah-Light.eot'); /* IE9 Compat Modes */
    src: url('Maleah-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Maleah-Light.woff') format('woff'), /* Modern Browsers */
         url('Maleah-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Maleah-Light.svg#Maleah-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

