/* Webfont: Maleah-Bold */@font-face {
    font-family: 'Maleah';
    src: url('Maleah-Bold.eot'); /* IE9 Compat Modes */
    src: url('Maleah-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Maleah-Bold.woff') format('woff'), /* Modern Browsers */
         url('Maleah-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Maleah-Bold.svg#Maleah-Bold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

